{% extends 'base.html' %}

{% block title %}رحلتي - سهالات{% endblock %}

{% block content %}
<div class="trip-details-container">
    <h3 class="trip-details-heading">تفاصيل الرحلة</h3>
    <div class="trip-info">
        <p><strong>وقت الرحلة:</strong> {{ trip.time }}</p>
        <p><strong>عنوان الرحلة:</strong> {{ trip.address }}</p>
        <p><strong>اتجاه الرحلة:</strong> {% if trip.direction == 0 %}من الجامعة إلى العنوان المحدد{% else %}من العنوان المحدد إلى الجامعة{% endif %}</p>
    </div>
    <hr />
    <h3 class="trip-details-heading">قائمة الركاب</h3>
    {% if orders %}
        <table class="passenger-table">
            <tr>
                <th>اسم الراكب</th>
                <th>رقم الهاتف</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>{{ order.user.first_name }} {{ order.user.last_name }}</td>
                    <td><a href="tel:{{ order.user.profile.phone }}">{{ order.user.profile.phone }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>ما من ركاب إلى الآن</p>
    {% endif %}
    <hr />
    <h3 class="trip-details-heading">ملخص الدفع</h3>
    <p><strong>إجمالي الدفع:</strong> {{ cost }} ريال</p>
    <p><strong>تكلفة الخدمة:</strong> {{ service_cost }} ريال</p>
    <p><strong>أجرة الكابتن:</strong> {{ total_cost }} ريال</p>
    <hr />
    <h3 class="trip-details-heading">الإعلامات</h3>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">إرسال</button>
    </form>
    {% include 'includes/messages.html' %}
</div>
{% endblock %}
