{% extends 'base.html' %}

{% block title %}تفاصيل الرحلة - سهالات{% endblock %}

{% block content %}
<center>
<h3>تفاصيل الرحلة</h3>
<p>وقت الرحلة: {{ trip.time }}<br />
عنوان الرحلة: {{ trip.address }}<br />
اتجاه الرحلة: 
{% if trip.direction == 0 %}
من الجامعة إلى العنوان المحدد
{% else %}
من العنوان المحدد إلى الجامعة
{% endif %}<br />
ملاحظات الكابتن: <br />
{{ trip.notes }}
</p>
<hr />
<h3>تفاصيل كابتن الرحلة</h3>
<p>
الاسم: {{ trip.user.first_name }} {{ trip.user.last_name }}<br />
رقم الهاتف: <a href="tel:{{ trip.user.profile.phone }}">{{ trip.user.profile.phone}}</a><br />
</p>
<hr />
<h3>بيانات المركبة</h3>
<p>
اسم المركبة: {{ trip.user.car.name }}<br />
رقم اللوحة: {{ trip.user.car.number }}
</p>
<hr />
{% if not ordered %}
<a href="{% url 'order' trip.pk %}">انضم إلى الرحلة</a>
{% else %}
<h3>إعلامات الرحلة</h3>
{% if announcements%}
{% for n in announcements %}
<p>{{ n.published_at}} <br />
{{ n.content}}
</p>
{% endfor %}
{% else %}
{% include 'includes/messages.html' %}<br />
<p>لم يتم نشر أي إعلامات</p>
{% endif %}
{% endif %}
</center>

{% endblock %}