{% extends 'base.html' %}

{% block title %}انضم إلينا - سهالات{% endblock %}

{% block content %}
<div class="join-us-container">
    <h3 class="join-us-heading">انضم إلى سهالات</h3>
    <form method="POST" class="join-us-form">
        {% csrf_token %}
        <h4>البيانات الشخصية</h4>
        {{ form1 }}
        <h4>بيانات المركبة</h4>
        {{ form2 }}
        <input type="submit" class="join-us-button">انضمام</input>
    </form>
    {% include 'includes/messages.html' %}
</div>
{% endblock %}
